.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
}

.photo-block {
    position: relative;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 0.8;
        object-fit: cover;
        display: block;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}

.photo-block img {
    width: 100%;
    height: auto;
}

.photo-title,
.photo-category,
.icon-link,
.icon-lightbox {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 10px;
    color: $color-white;
    text-transform: uppercase;
}

.photo-title {
    bottom: 15px;
    left: 15px;
}

.photo-category {
    bottom: 15px;
    right: 15px;
}

.icon-link {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
        width: 35px;
        object-fit: contain;
        cursor: pointer;
    }
}

.icon-lightbox {
    top: 15px;
    right: 15px;

    img {
        width: 40px;
        object-fit: contain;
        cursor: pointer;
    }
}

.photo-block:hover .photo-title,
.photo-block:hover .photo-category,
.photo-block:hover .icon-link,
.photo-block:hover .icon-lightbox {
    opacity: 1;
}

.photo-block:hover .photo-image {
    filter: brightness(50%);
}