h1 {
    font-family: "Space Mono", monospace;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
}

h2 {
    font-family: "Space Mono", monospace;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
}

h3 {
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

h4 {
    font-family: "Space Mono", monospace;
    font-size: 14px;
    font-weight: 400;
}

a {
    font-family: "Space Mono", monospace;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

p {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 300;
}

