.header-home {
    height: calc(100vh - 100px); // Ajuster la hauteur pour tenir compte du header
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

.load-more-container {
    text-align: center;
    margin: 20px 0px;

    #load-more {
        font-family: $font-space-mono;
        font-size: $font-size-paragraph;
        font-weight: $font-weight-normal;
        padding: 1.5vh 10vh;
        background-color: $secondary-grey-color;
        color: $color-black;
        border: none;
        cursor: pointer;
        transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    }

    #load-more:hover {
        background-color: $color-black;
        color: $color-white;
    }
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh 1.5vh;
    margin: 3vh 0vh;

    select {
        background-color: $color-white;
        padding: 1vh;
        border: 1.5px solid $secondary-grey-color;
        border-radius: 0.8vh;
        min-width: 20vh;
        text-transform: uppercase;
        font-family: $font-poppins;
        font-size: $font-size-paragraph;
        font-weight: $font-weight-light;
    }
}